<div class="news-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content">
                <div class="title">
                    <h4><%= post.title %></h4>
                    <span><time datetime="<%- date(post.date, "Y-MM-D h:m:s")%>"><%- date(post.date, "Y-MM-D h:m:s")%></time></span>
                </div>
                <hr/>
                <div class="detail">
                    <%- post.content %>
                </div>
                <hr/>
                <div class="list">

                </div>

            </div>
            <div class="container">

            </div>
        </div>
    </div>
</div>
