<div class="news-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content">
                <div class="title">
                    <h2>Topjs 进军顶级程序娱乐圈！</h2>
                    <span>2017-01-01 12:00:02</span>
                </div>
                <div class="detail">
                    <h4>最新动态</h4>
                    新京报快讯（记者王姝）今天下午，中央政治局常委、中纪委书记王岐山在十八届中纪委七次全会上的讲话，全文发布。讲话中，王岐山谈到了民政部党组被问责案。

                    　　王岐山称，“对民政部党组、驻民政部纪检组管党治党不力、发现问题不报告不处置严肃问责，原党组书记、派驻纪检组组长受到责任追究。”
                    <h4>好消息好消息
                    </h4>
                    　　去年11月，刚满63周岁的李立国，被免去民政部部长职务，黄树贤由中纪委副书记、监察部部长岗位，调任民政部部长。窦玉沛也被免去民政部副部长职务。

                    　　1月9日下午，在新闻发布会上，中纪委案件审理室主任罗东川披露，李立国与窦玉沛双双被审查，“民政部领导李立国和窦玉沛（原任民政部副部长），由于巡视和群众举报反映的问题，中纪委正在对他们进行审查，一旦把事实情况查清楚，根据他们的违纪事实和性质将会依照党纪处分条例作出处分，处理结束的时候会把相关消息对公众公布。”

                    　　王岐山没有提及被处理的驻民政部纪检组组长名字。不过，据财经网等媒体报道，该名纪检组组长为曲淑辉。

                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                    　　跟李立国被免去民政部部长同月，即去年11月，曲淑辉被免去驻国家民委纪检组组长一职，被免职时，其担任驻国家民委纪检组组长仅半年。而担任驻国家民委纪检组组长之前，曲淑辉担任了8年驻民政部纪检组长（2008年至去年5月）。
                </div>
                <hr/>

                <div class="list">
                    
                </div>

            </div>
            <div class="container">

            </div>
        </div>
    </div>
</div>
